<div style="border:solid green 2px; padding: 20px">
<b>Hello, Dmitriy!</b>

My name is Grigoriy Gusarov and I'm going to review your project.

My main goal is not to show that any mistakes have been made somewhere, but to share my experience that will help you in your further work. Further in the file you can see my comments, try to take them into account when performing the next tasks. **Please, don't delete them.**


You can find my comments in <font color='green'>green</font>, <font color='orange'>yellow</font> or <font color='red'>red</font> boxes like this:

<div class="alert alert-success">
<b>Reviewer's comment:</b> if everything is done succesfully
</div>

<div class="alert alert-warning">
<b>Reviewer's comment: </b> if I can give some recommendations
</div>

<div class="alert alert-danger">
<b>Reviewer's comment:</b> if the block requires some corrections. Work can't be accepted with the red comments.
</div>

    
Let's work on the project in dialogue: if you change something in the project or respond to my comments, write about it. It will be easier for me to track the changes if you highlight your comments:
    
<div class="alert alert-info"> <b>Student's comment:</b> For example like this.</div>

### <font color='orange'>General feedback</font>
Thank you for sending your project! Unfortunately, I can't start my review right now because of the code error. Please, fix variable name in the 20-th cell.

done

**Update**:<br>
Thank you for the update. Below you have the blue form for your comments, please, use it. Otherwise, there is a risk that your comments will blur into the rest of the text and I won't notice them. Unfortunately, there is another one code issue in the 22-th cell. I recommend you to rerun your project before submission.

**Update**:<br>
Thank you for sending your project again. It seems like something went wrong and you sent a version without any changes. Code issue is still here. Please check it again.

Hi, i made every change and all the codes look good at the time im sending the project.

**Update**:<br>
Thank you for the fast response. Make sure, that you saved your changes before sending. To keep the review from getting bogged down, I left you comments on the first part of the research.

**Update**:<br>
Thank you for the code fixing. Please, pay attention to the <code>days_employed</code> column and expand your final conclusions. After that I would be glad to accept your research.

**Update**:<br>
Thank you for sending your project again. It's amazing to see that according to your calculations, some people have been working for several hundred years.  I also do not see any significant changes in the final conclusion. Well, if you are making formal corrections, I see no point in continuing to try to improve this research. Your project has been accepted, good luck in the next sprints.

---

# Analyzing borrowers’ risk of defaulting

Your project is to prepare a report for a bank’s loan division. You’ll need to find out if a customer’s marital status and number of children has an impact on whether they will default on a loan. The bank already has some data on customers’ credit worthiness.

Your report will be considered when building a **credit scoring** of a potential customer. A **credit scoring** is used to evaluate the ability of a potential borrower to repay their loan.

## Open the data file and have a look at the general information.

In [1]:
import pandas as pd
credit_scoring = pd.read_csv('/datasets/credit_scoring_eng.csv')
credit_scoring.head()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,bachelor's degree,0,married,0,F,employee,0,40620.102,purchase of the house
1,1,-4024.803754,36,secondary education,1,married,0,F,employee,0,17932.802,car purchase
2,0,-5623.422610,33,Secondary Education,1,married,0,M,employee,0,23341.752,purchase of the house
3,3,-4124.747207,32,secondary education,1,married,0,M,employee,0,42820.568,supplementary education
4,0,340266.072047,53,secondary education,1,civil partnership,1,F,retiree,0,25378.572,to have a wedding

<div class="alert alert-warning">
<b>Reviewer's comment:</b> Small hint: it's considered a good practice to store all your imports in a separate cell. Thus you'll simplify code maintaining. 
</div>

In [2]:
credit_scoring.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
children            21525 non-null int64
days_employed       19351 non-null float64
dob_years           21525 non-null int64
education           21525 non-null object
education_id        21525 non-null int64
family_status       21525 non-null object
family_status_id    21525 non-null int64
gender              21525 non-null object
income_type         21525 non-null object
debt                21525 non-null int64
total_income        19351 non-null float64
purpose             21525 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

In [3]:
credit_scoring.describe()

,children,days_employed,dob_years,education_id,family_status_id,debt,total_income
count,21525.000000,19351.000000,21525.000000,21525.000000,21525.000000,21525.000000,19351.000000
mean,0.538908,63046.497661,43.293380,0.817236,0.972544,0.080883,26787.568355
std,1.381587,140827.311974,12.574584,0.548138,1.420324,0.272661,16475.450632
min,-1.000000,-18388.949901,0.000000,0.000000,0.000000,0.000000,3306.762000
25%,0.000000,-2747.423625,33.000000,1.000000,0.000000,0.000000,16488.504500
50%,0.000000,-1203.369529,42.000000,1.000000,0.000000,0.000000,23202.870000
75%,1.000000,-291.095954,53.000000,1.000000,1.000000,0.000000,32549.611000
max,20.000000,401755.400475,75.000000,4.000000,4.000000,1.000000,362496.645000

In [4]:
credit_scoring['education'] = credit_scoring['education'].str.lower()
credit_scoring

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,bachelor's degree,0,married,0,F,employee,0,40620.102,purchase of the house
1,1,-4024.803754,36,secondary education,1,married,0,F,employee,0,17932.802,car purchase
2,0,-5623.422610,33,secondary education,1,married,0,M,employee,0,23341.752,purchase of the house
3,3,-4124.747207,32,secondary education,1,married,0,M,employee,0,42820.568,supplementary education
4,0,340266.072047,53,secondary education,1,civil partnership,1,F,retiree,0,25378.572,to have a wedding
...,...,...,...,...,...,...,...,...,...,...,...,...
21520,1,-4529.316663,43,secondary education,1,civil partnership,1,F,business,0,35966.698,housing transactions
21521,0,343937.404131,67,secondary education,1,married,0,F,retiree,0,24959.969,purchase of a car
21522,1,-2113.346888,38,secondary education,1,civil partnership,1,M,employee,1,14347.610,property
21523,3,-3112.481705,38,secondary education,1,married,0,M,employee,1,39054.888,buying my own car
21524,2,-1984.507589,40,secondary education,1,married,0,F,employee,0,13127.587,to buy a car

<div class="alert alert-warning">
<b>Reviewer's comment: </b> Please, pay attention to data frame formatting in your project. Don't forget to use head(), tail(), or sample() when outputting large tables. If you leave everything "as is", when you save the project to github, all the tables will expand to their full length and take up most of the project. Plus, the jupyter notebook wastes extra resources when loading such tables. 
</div>

In [5]:
credit_scoring['children'] = credit_scoring['children'].abs()

In [6]:
credit_scoring['children'].abs().unique()

array([ 1,  0,  3,  2,  4, 20,  5])

<div class="alert alert-success">
<b>Reviewer's comment:</b> 20 childern? Okay, at least now we don't have negative values.
</div>

In [7]:
credit_scoring['family_status'].unique()

array(['married', 'civil partnership', 'widow / widower', 'divorced',
       'unmarried'], dtype=object)

In [8]:
credit_scoring['days_employed'].unique()

array([-8437.67302776, -4024.80375385, -5623.42261023, ...,
       -2113.3468877 , -3112.4817052 , -1984.50758853])

In [9]:
credit_scoring['total_income'].unique()
credit_scoring

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,bachelor's degree,0,married,0,F,employee,0,40620.102,purchase of the house
1,1,-4024.803754,36,secondary education,1,married,0,F,employee,0,17932.802,car purchase
2,0,-5623.422610,33,secondary education,1,married,0,M,employee,0,23341.752,purchase of the house
3,3,-4124.747207,32,secondary education,1,married,0,M,employee,0,42820.568,supplementary education
4,0,340266.072047,53,secondary education,1,civil partnership,1,F,retiree,0,25378.572,to have a wedding
...,...,...,...,...,...,...,...,...,...,...,...,...
21520,1,-4529.316663,43,secondary education,1,civil partnership,1,F,business,0,35966.698,housing transactions
21521,0,343937.404131,67,secondary education,1,married,0,F,retiree,0,24959.969,purchase of a car
21522,1,-2113.346888,38,secondary education,1,civil partnership,1,M,employee,1,14347.610,property
21523,3,-3112.481705,38,secondary education,1,married,0,M,employee,1,39054.888,buying my own car
21524,2,-1984.507589,40,secondary education,1,married,0,F,employee,0,13127.587,to buy a car

In [10]:
credit_scoring['days_employed'] = credit_scoring['days_employed'].abs()

In [11]:
credit_scoring['gender'].describe()

count     21525
unique        3
top           F
freq      14236
Name: gender, dtype: object

In [12]:
credit_scoring['days_employed'].unique()

array([8437.67302776, 4024.80375385, 5623.42261023, ..., 2113.3468877 ,
       3112.4817052 , 1984.50758853])

In [13]:
credit_scoring['days_employed'].describe()

count     19351.000000
mean      66914.728907
std      139030.880527
min          24.141633
25%         927.009265
50%        2194.220567
75%        5537.882441
max      401755.400475
Name: days_employed, dtype: float64

In [14]:
credit_scoring['gender'].unique()

array(['F', 'M', 'XNA'], dtype=object)

In [15]:
credit_scoring[credit_scoring['gender']=='XNA']

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
10701,0,2358.600502,24,some college,2,civil partnership,1,XNA,business,0,32624.825,buy real estate

### Conclusion

After inspecting several columns i saw that there some strange values like family’s with -1 children and also days employed with negative values, and only 2 columns with missing values (days employed, total income).

<div class="alert alert-danger">
<s><b>Reviewer's comment:</b> Please, check gender column as well.
</div>

in colomn "gender" only one row has strange value 'XNA'as it only one row and we cannot know the real gender i desided to live it like it is

## Data preprocessing

### Processing missing values

In [16]:
for i in credit_scoring:
    print(i, len(credit_scoring[credit_scoring[i]==0]))

children 14149
days_employed 0
dob_years 101
education 0
education_id 5260
family_status 0
family_status_id 12380
gender 0
income_type 0
debt 19784
total_income 0
purpose 0

In [17]:
credit_scoring.isnull().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

In [18]:
for i in credit_scoring:
    if credit_scoring[i].isnull().sum()>0:
        print(i)

days_employed
total_income

In [2]:
credit_scoring['total_income'].describe()

NameError: name 'credit_scoring' is not defined

### Conclusion

There only 2 columns with missing values  first column days employed we do not need fill in the values as no value in this column, we need to fill missing values only in  total income column.

<div class="alert alert-success">
<b>Reviewer's comment:</b> Okay, good point.
</div>

### Data type replacement

In [20]:
credit_scoring['total_income_full'] = credit_scoring['total_income'].fillna(credit_scoring.groupby('income_type')['total_income'].transform('median'))

In [1]:
credit_scoring[credit_scoring['total_income'].isnull()]

NameError: name 'credit_scoring' is not defined

In [22]:
credit_scoring['total_income_full1'] = credit_scoring['total_income'].fillna(credit_scoring.groupby(['income_type','education'])['total_income'].transform('median'))

In [23]:
credit_scoring[credit_scoring['total_income'].isnull()]

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_full,total_income_full1
12,0,NaN,65,secondary education,1,civil partnership,1,M,retiree,0,NaN,to have a wedding,18962.3180,18374.8570
26,0,NaN,41,secondary education,1,married,0,M,civil servant,0,NaN,education,24071.6695,21864.4750
29,0,NaN,63,secondary education,1,unmarried,4,F,retiree,0,NaN,building a real estate,18962.3180,18374.8570
41,0,NaN,50,secondary education,1,married,0,F,civil servant,0,NaN,second-hand car purchase,24071.6695,21864.4750
55,0,NaN,54,secondary education,1,civil partnership,1,F,retiree,1,NaN,to have a wedding,18962.3180,18374.8570
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21489,2,NaN,47,secondary education,1,married,0,M,business,0,NaN,purchase of a car,27577.2720,25451.3100
21495,1,NaN,50,secondary education,1,civil partnership,1,F,employee,0,NaN,wedding ceremony,22815.1035,21848.8175
21497,0,NaN,48,bachelor's degree,0,married,0,F,business,0,NaN,building a property,27577.2720,32285.6640
21502,1,NaN,42,secondary education,1,married,0,F,employee,0,NaN,building a real estate,22815.1035,21848.8175
21510,2,NaN,28,secondary education,1,married,0,F,employee,0,NaN,car purchase,22815.1035,21848.8175

In [24]:
grouped = credit_scoring.groupby(['income_type','education_id'])['total_income'].median()
grouped

income_type                  education_id
business                     0               32285.6640
                             1               25451.3100
                             2               28778.7440
                             3               21887.8250
civil servant                0               27601.7775
                             1               21864.4750
                             2               25694.7750
                             3               23734.2870
                             4               17822.7570
employee                     0               26502.5190
                             1               21848.8175
                             2               24209.4300
                             3               20159.1860
                             4               31771.3210
entrepreneur                 0               79866.1030
paternity / maternity leave  1                8612.6610
retiree                      0               23078.5230
                             1               18374.8570
                             2               19221.9030
                             3               16415.7850
                             4               28334.2150
student                      0               15712.2600
unemployed                   0               32435.6020
                             1                9593.1190
Name: total_income, dtype: float64

### Conclusion

I decided to fill the missing values with median value as in total income there is outliers ,the new values we stored in nee columns total income full column

<div class="alert alert-success">
<b>Reviewer's comment:</b> Ok, I agree with you.
</div>

---

<div class="alert alert-danger">
<b>Reviewer's comment:</b> Please, pay attention to the <code>days_employed</code> and <code>gender</code> columns.
</div>

<div class="alert alert-danger">
<b>Reviewer's comment v2:</b> <code>days_employed</code> columns still contains abnormal values.
</div>

### Processing duplicates

In [25]:
credit_scoring.duplicated().sum()

71

### Conclusion

As I saw there were no unique columns with unique values so I didn’t remove any duplicates

### Categorizing Data

In [26]:
credit_scoring['total_income_full'].describe()

count     21525.000000
mean      26436.051922
std       15686.986477
min        3306.762000
25%       17247.708000
50%       22815.103500
75%       31287.991000
max      362496.645000
Name: total_income_full, dtype: float64

In [27]:
def income_cat(x):
    if x <= 17247:
        return'low'
    if 17247 <x<= 22815.103500:
        return 'medium'
    if 22815.103500 <x<= 31287.991000:
        return 'high'
    if x > 31287.991000:
        return 'extra_high'
    return 'other'

<div class="alert alert-warning">
<b>Reviewer's comment:</b> Small hint: you can optimize this step with pd.cut method: <a>https://www.geeksforgeeks.org/pandas-cut-method-in-python/</a>
</div>

In [28]:
income_cat(11287)

'low'

In [29]:
credit_scoring.head(10)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_full,total_income_full1
0,1,8437.673028,42,bachelor's degree,0,married,0,F,employee,0,40620.102,purchase of the house,40620.102,40620.102
1,1,4024.803754,36,secondary education,1,married,0,F,employee,0,17932.802,car purchase,17932.802,17932.802
2,0,5623.422610,33,secondary education,1,married,0,M,employee,0,23341.752,purchase of the house,23341.752,23341.752
3,3,4124.747207,32,secondary education,1,married,0,M,employee,0,42820.568,supplementary education,42820.568,42820.568
4,0,340266.072047,53,secondary education,1,civil partnership,1,F,retiree,0,25378.572,to have a wedding,25378.572,25378.572
5,0,926.185831,27,bachelor's degree,0,civil partnership,1,M,business,0,40922.170,purchase of the house,40922.170,40922.170
6,0,2879.202052,43,bachelor's degree,0,married,0,F,business,0,38484.156,housing transactions,38484.156,38484.156
7,0,152.779569,50,secondary education,1,married,0,M,employee,0,21731.829,education,21731.829,21731.829
8,2,6929.865299,35,bachelor's degree,0,civil partnership,1,F,employee,0,15337.093,having a wedding,15337.093,15337.093
9,0,2188.756445,41,secondary education,1,married,0,M,employee,0,23108.150,purchase of the house for my family,23108.150,23108.150

<div class="alert alert-danger">
<s><b>Reviewer's comment:</b> Same code error below. Make sure, that you saved your project before sending.
</div>

In [30]:
credit_scoring['income_cat'] = credit_scoring['total_income_full'].apply(income_cat)
credit_scoring.head(10)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_full,total_income_full1,income_cat
0,1,8437.673028,42,bachelor's degree,0,married,0,F,employee,0,40620.102,purchase of the house,40620.102,40620.102,extra_high
1,1,4024.803754,36,secondary education,1,married,0,F,employee,0,17932.802,car purchase,17932.802,17932.802,medium
2,0,5623.422610,33,secondary education,1,married,0,M,employee,0,23341.752,purchase of the house,23341.752,23341.752,high
3,3,4124.747207,32,secondary education,1,married,0,M,employee,0,42820.568,supplementary education,42820.568,42820.568,extra_high
4,0,340266.072047,53,secondary education,1,civil partnership,1,F,retiree,0,25378.572,to have a wedding,25378.572,25378.572,high
5,0,926.185831,27,bachelor's degree,0,civil partnership,1,M,business,0,40922.170,purchase of the house,40922.170,40922.170,extra_high
6,0,2879.202052,43,bachelor's degree,0,married,0,F,business,0,38484.156,housing transactions,38484.156,38484.156,extra_high
7,0,152.779569,50,secondary education,1,married,0,M,employee,0,21731.829,education,21731.829,21731.829,medium
8,2,6929.865299,35,bachelor's degree,0,civil partnership,1,F,employee,0,15337.093,having a wedding,15337.093,15337.093,low
9,0,2188.756445,41,secondary education,1,married,0,M,employee,0,23108.150,purchase of the house for my family,23108.150,23108.150,high

In [31]:
credit_scoring['income_cat'].unique()

array(['extra_high', 'medium', 'high', 'low'], dtype=object)

In [32]:
credit_scoring.purpose.unique()

array(['purchase of the house', 'car purchase', 'supplementary education',
       'to have a wedding', 'housing transactions', 'education',
       'having a wedding', 'purchase of the house for my family',
       'buy real estate', 'buy commercial real estate',
       'buy residential real estate', 'construction of own property',
       'property', 'building a property', 'buying a second-hand car',
       'buying my own car', 'transactions with commercial real estate',
       'building a real estate', 'housing',
       'transactions with my real estate', 'cars', 'to become educated',
       'second-hand car purchase', 'getting an education', 'car',
       'wedding ceremony', 'to get a supplementary education',
       'purchase of my own house', 'real estate transactions',
       'getting higher education', 'to own a car', 'purchase of a car',
       'profile education', 'university education',
       'buying property for renting out', 'to buy a car',
       'housing renovation', 'going to university'], dtype=object)

In [33]:
from pymystem3 import Mystem
from collections import Counter

In [34]:
m = Mystem()

In [35]:
m.lemmatize('buying my own car')

['buying', ' ', 'my', ' ', 'own', ' ', 'car', '\n']

In [36]:
car_category = ['car','cars']
wedding_category = ['wedding']
housing_category = ['housing','estate','house','property']
education_category = ['education','university','educated']

In [37]:
def lemmatization_func(line):
    lemmatized = m.lemmatize(line)
    return lemmatized

In [38]:
example = credit_scoring.loc[176]['purpose']  

example

'going to university'

In [39]:
lemmatization_func(example)

['going', ' ', 'to', ' ', 'university', '\n']

In [40]:
any(word in lemmatization_func(example) for word in education_category)

True

In [41]:
def lemmatization_func(line):
    lemmatized = m.lemmatize(line)
    if any(word in lemmatized for word in housing_category):
        return'housing'
    elif any(word in lemmatized for word in car_category):
        return'car'
    elif any(word in lemmatized for word in wedding_category):
        return 'wedding'
    elif any(word in lemmatized for word in education_category):
        return 'education'
    else:
        return 'other'

In [42]:
credit_scoring['purpose_cat'] = credit_scoring['purpose'].apply(lemmatization_func)

<div class="alert alert-success">
<b>Reviewer's comment v2:</b> Ok, accepted.
</div>

In [43]:
credit_scoring['purpose_cat'].value_counts()

housing      10840
car           4315
education     4022
wedding       2348
Name: purpose_cat, dtype: int64

In [44]:
credit_scoring.head(10)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_full,total_income_full1,income_cat,purpose_cat
0,1,8437.673028,42,bachelor's degree,0,married,0,F,employee,0,40620.102,purchase of the house,40620.102,40620.102,extra_high,housing
1,1,4024.803754,36,secondary education,1,married,0,F,employee,0,17932.802,car purchase,17932.802,17932.802,medium,car
2,0,5623.422610,33,secondary education,1,married,0,M,employee,0,23341.752,purchase of the house,23341.752,23341.752,high,housing
3,3,4124.747207,32,secondary education,1,married,0,M,employee,0,42820.568,supplementary education,42820.568,42820.568,extra_high,education
4,0,340266.072047,53,secondary education,1,civil partnership,1,F,retiree,0,25378.572,to have a wedding,25378.572,25378.572,high,wedding
5,0,926.185831,27,bachelor's degree,0,civil partnership,1,M,business,0,40922.170,purchase of the house,40922.170,40922.170,extra_high,housing
6,0,2879.202052,43,bachelor's degree,0,married,0,F,business,0,38484.156,housing transactions,38484.156,38484.156,extra_high,housing
7,0,152.779569,50,secondary education,1,married,0,M,employee,0,21731.829,education,21731.829,21731.829,medium,education
8,2,6929.865299,35,bachelor's degree,0,civil partnership,1,F,employee,0,15337.093,having a wedding,15337.093,15337.093,low,wedding
9,0,2188.756445,41,secondary education,1,married,0,M,employee,0,23108.150,purchase of the house for my family,23108.150,23108.150,high,housing

### Conclusion

I decided to categorized only 2 values income and purpose in income there are 4categorise (low, medium, high, extra high).

## Answer these questions

- Is there a relation between having kids and repaying a loan on time?

In [45]:
children = pd.pivot_table(credit_scoring,index = 'children', columns = 'debt',
 values = 'family_status_id',aggfunc = 'count', margins = True).reset_index()
children

debt children        0       1    All
0           0  13086.0  1063.0  14149
1           1   4420.0   445.0   4865
2           2   1861.0   194.0   2055
3           3    303.0    27.0    330
4           4     37.0     4.0     41
5           5      9.0     NaN      9
6          20     68.0     8.0     76
7         All  19784.0  1741.0  21525

In [46]:
children['default_rate'] = (children[1])/children['All']*100
children

debt children        0       1    All  default_rate
0           0  13086.0  1063.0  14149      7.512898
1           1   4420.0   445.0   4865      9.146968
2           2   1861.0   194.0   2055      9.440389
3           3    303.0    27.0    330      8.181818
4           4     37.0     4.0     41      9.756098
5           5      9.0     NaN      9           NaN
6          20     68.0     8.0     76     10.526316
7         All  19784.0  1741.0  21525      8.088269

<div class="alert alert-warning">
<b>Reviewer's comment v2: </b> Small hint: you can format ratio values as actual percentages: <a>https://stackoverflow.com/a/36175424/11664121</a>. In this case you will alter only a dataframe formatting rules, but not data.
</div>

### Conclusion

Yes there a direct relation between having kids and repaying a loan on time as more children you have the harder is to repay the loan .

<div class="alert alert-success">
<b>Reviewer's comment v2:</b> Yes, good point.
</div>

- Is there a relation between marital status and repaying a loan on time?

In [47]:
family_status = pd.pivot_table(credit_scoring,index = 'family_status', columns = 'debt',
 values = 'family_status_id',aggfunc = 'count', margins = True).reset_index()
family_status

debt      family_status      0     1    All
0     civil partnership   3789   388   4177
1              divorced   1110    85   1195
2               married  11449   931  12380
3             unmarried   2539   274   2813
4       widow / widower    897    63    960
5                   All  19784  1741  21525

In [48]:
family_status['default_rate'] = (family_status[1])/family_status['All']*100
family_status

debt      family_status      0     1    All  default_rate
0     civil partnership   3789   388   4177      9.288963
1              divorced   1110    85   1195      7.112971
2               married  11449   931  12380      7.520194
3             unmarried   2539   274   2813      9.740491
4       widow / widower    897    63    960      6.562500
5                   All  19784  1741  21525      8.088269

Widow / widower have better chance to repay the loan and unmarried have the worst chance to repay the loan

<div class="alert alert-success">
<b>Reviewer's comment v2:</b> 👍
</div>

- Is there a relation between income level and repaying a loan on time?

In [49]:
income = pd.pivot_table(credit_scoring,index = 'income_cat', columns = 'debt',
 values = 'family_status_id',aggfunc = 'count', margins = True).reset_index()
income

debt  income_cat      0     1    All
0     extra_high   4995   386   5381
1           high   4794   445   5239
2            low   4954   427   5381
3         medium   5041   483   5524
4            All  19784  1741  21525

In [50]:
income['default_rate'] = (income[1])/income['All']*100
income

debt  income_cat      0     1    All  default_rate
0     extra_high   4995   386   5381      7.173388
1           high   4794   445   5239      8.493987
2            low   4954   427   5381      7.935328
3         medium   5041   483   5524      8.743664
4            All  19784  1741  21525      8.088269

### Conclusion

People with extra high income have the best chant to repay the loan and people with the medium income worst chance to repay the loan.

<div class="alert alert-success">
<b>Reviewer's comment v2:</b> Yes, correct.
</div>

- How do different loan purposes affect on-time repayment of the loan?

In [51]:
purposes = pd.pivot_table(credit_scoring,index = 'purpose_cat', columns = 'debt',
 values = 'family_status_id',aggfunc = 'count', margins = True).reset_index()
purposes

debt purpose_cat      0     1    All
0            car   3912   403   4315
1      education   3652   370   4022
2        housing  10058   782  10840
3        wedding   2162   186   2348
4            All  19784  1741  21525

In [52]:
purposes['default_rate'] = (purposes[1])/purposes['All']*100
purposes

debt purpose_cat      0     1    All  default_rate
0            car   3912   403   4315      9.339513
1      education   3652   370   4022      9.199403
2        housing  10058   782  10840      7.214022
3        wedding   2162   186   2348      7.921635
4            All  19784  1741  21525      8.088269

In [53]:
credit_scoring.head(50)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_full,total_income_full1,income_cat,purpose_cat
0,1,8437.673028,42,bachelor's degree,0,married,0,F,employee,0,40620.102,purchase of the house,40620.1020,40620.102,extra_high,housing
1,1,4024.803754,36,secondary education,1,married,0,F,employee,0,17932.802,car purchase,17932.8020,17932.802,medium,car
2,0,5623.422610,33,secondary education,1,married,0,M,employee,0,23341.752,purchase of the house,23341.7520,23341.752,high,housing
3,3,4124.747207,32,secondary education,1,married,0,M,employee,0,42820.568,supplementary education,42820.5680,42820.568,extra_high,education
4,0,340266.072047,53,secondary education,1,civil partnership,1,F,retiree,0,25378.572,to have a wedding,25378.5720,25378.572,high,wedding
5,0,926.185831,27,bachelor's degree,0,civil partnership,1,M,business,0,40922.170,purchase of the house,40922.1700,40922.170,extra_high,housing
6,0,2879.202052,43,bachelor's degree,0,married,0,F,business,0,38484.156,housing transactions,38484.1560,38484.156,extra_high,housing
7,0,152.779569,50,secondary education,1,married,0,M,employee,0,21731.829,education,21731.8290,21731.829,medium,education
8,2,6929.865299,35,bachelor's degree,0,civil partnership,1,F,employee,0,15337.093,having a wedding,15337.0930,15337.093,low,wedding
9,0,2188.756445,41,secondary education,1,married,0,M,employee,0,23108.150,purchase of the house for my family,23108.1500,23108.150,high,housing
10,2,4171.483647,36,bachelor's degree,0,married,0,M,business,0,18230.959,buy real estate,18230.9590,18230.959,medium,housing
11,0,792.701887,40,secondary education,1,married,0,F,employee,0,12331.077,buy commercial real estate,12331.0770,12331.077,low,housing
12,0,NaN,65,secondary education,1,civil partnership,1,M,retiree,0,NaN,to have a wedding,18962.3180,18374.857,medium,wedding
13,0,1846.641941,54,some college,2,married,0,F,employee,0,20873.317,car purchase,20873.3170,20873.317,medium,car
14,0,1844.956182,56,bachelor's degree,0,civil partnership,1,F,business,1,26420.466,buy residential real estate,26420.4660,26420.466,high,housing
15,1,972.364419,26,secondary education,1,married,0,F,employee,0,18691.345,construction of own property,18691.3450,18691.345,medium,housing
16,0,1719.934226,35,secondary education,1,married,0,F,employee,0,46272.433,property,46272.4330,46272.433,extra_high,housing
17,0,2369.999720,33,bachelor's degree,0,civil partnership,1,M,employee,0,14465.694,building a property,14465.6940,14465.694,low,housing
18,0,400281.136913,53,secondary education,1,widow / widower,2,F,retiree,0,9091.804,buying a second-hand car,9091.8040,9091.804,low,car
19,0,10038.818549,48,secondary education,1,divorced,3,F,employee,0,38852.977,buying my own car,38852.9770,38852.977,extra_high,car
20,1,1311.604166,36,secondary education,1,married,0,M,employee,0,33528.423,property,33528.4230,33528.423,extra_high,housing
21,1,253.685166,33,secondary education,1,civil partnership,1,F,employee,0,21089.953,car purchase,21089.9530,21089.953,medium,car
22,1,1766.644138,24,secondary education,1,civil partnership,1,F,employee,0,23948.983,buying a second-hand car,23948.9830,23948.983,high,car
23,0,272.981385,21,bachelor's degree,0,civil partnership,1,M,employee,0,20522.515,to have a wedding,20522.5150,20522.515,medium,wedding
24,1,338551.952911,57,secondary education,1,unmarried,4,F,retiree,0,46487.558,transactions with commercial real estate,46487.5580,46487.558,extra_high,housing
25,0,363548.489348,67,secondary education,1,married,0,M,retiree,0,8818.041,buy real estate,8818.0410,8818.041,low,housing
26,0,NaN,41,secondary education,1,married,0,M,civil servant,0,NaN,education,24071.6695,21864.475,high,education
27,0,529.191635,28,bachelor's degree,0,married,0,M,employee,0,49415.837,construction of own property,49415.8370,49415.837,extra_high,housing
28,1,717.274324,26,bachelor's degree,0,married,0,F,employee,0,30058.118,construction of own property,30058.1180,30058.118,high,housing
29,0,NaN,63,secondary education,1,unmarried,4,F,retiree,0,NaN,building a real estate,18962.3180,18374.857,medium,housing
30,1,335581.668515,62,secondary education,1,married,0,F,retiree,0,27432.971,transactions with commercial real estate,27432.9710,27432.971,high,housing
31,0,1682.083438,47,primary education,3,married,0,F,employee,0,44077.710,housing,44077.7100,44077.710,extra_high,housing
32,0,4649.910832,34,secondary education,1,civil partnership,1,F,employee,1,22249.194,having a wedding,22249.1940,22249.194,medium,wedding
33,0,1548.637544,48,secondary education,1,married,0,F,business,0,25159.326,purchase of the house,25159.3260,25159.326,high,housing
34,0,4488.067031,35,secondary education,1,married,0,F,employee,0,16745.672,transactions with my real estate,16745.6720,16745.672,low,housing
35,0,394021.072184,68,secondary education,1,civil partnership,1,M,retiree,0,12448.908,having a wedding,12448.9080,12448.908,low,wedding
36,0,176.216688,33,secondary education,1,unmarried,4,M,employee,0,22212.904,cars,22212.9040,22212.904,medium,car
37,0,6448.810860,43,bachelor's degree,0,civil partnership,1,F,business,0,24660.621,car purchase,24660.6210,24660.621,high,car
38,0,597.881827,25,bachelor's degree,0,unmarried,4,M,employee,1,30759.568,education,30759.5680,30759.568,high,education
39,0,650.587796,31,bachelor's degree,0,civil partnership,1,F,business,0,120678.528,to become educated,120678.5280,120678.528,extra_high,education
40,0,1030.362606,30,secondary education,1,unmarried,4,M,business,0,22858.493,buy real estate,22858.4930,22858.493,high,housing
41,0,NaN,50,secondary education,1,married,0,F,civil servant,0,NaN,second-hand car purchase,24071.6695,21864.475,high,car
42,0,1257.496190,20,some college,2,unmarried,4,F,employee,0,13130.414,getting an education,13130.4140,13130.414,low,education
43,0,4375.681384,43,some college,2,divorced,3,F,business,0,43673.141,car purchase,43673.1410,43673.141,extra_high,car
44,1,1362.041728,26,secondary education,1,married,0,F,employee,0,16124.879,buying my own car,16124.8790,16124.879,low,car
45,1,1039.451741,49,secondary education,1,unmarried,4,F,employee,0,17021.747,to become educated,17021.7470,17021.747,low,education
46,2,2262.712304,37,secondary education,1,married,0,F,business,0,29229.194,second-hand car purchase,29229.1940,29229.194,high,car
47,1,2689.137274,33,bachelor's degree,0,civil partnership,1,M,civil servant,0,57004.465,having a wedding,57004.4650,57004.465,extra_high,wedding
48,0,3341.067886,45,secondary education,1,married,0,F,employee,0,25930.483,construction of own property,25930.4830,25930.483,high,housing
49,0,1181.443228,54,secondary education,1,married,0,F,employee,0,7134.689,car,7134.6890,7134.689,low,car

### Conclusion

People who takes loan for car purpose have lower chance to repay loan but people that takes the loan for wedding proposes have higher chance to repay the loan

<div class="alert alert-success">
<b>Reviewer's comment v2:</b> Well done, all answers are right.
</div>

## General conclusion

general conclusion is that there is several factors that effect on-time repayment of the loan like income level , marital status, family status .we need to take in consideration all of those factors when offering the loan.

General conclusion is that there is several factors that effect  on-time repayment of the loan like income level(middle class people with medium income have higher chance to not repay the loan), marital status(unmarried people have the lowest chance to repay the loan). family status (as more children you have is harder to repay the loan), the purpose of the loan(people that takes the loan for car purpose have the lowest chance to repay the loan).we need to take in consideration all of those factors when offering the loan.

<div class="alert alert-danger">
<b>Reviewer's comment v2:</b> This is too brief conclusion for such a large research. If this were a real task, your supervisor would read this part at first. Please, expand it.
</div>

## Project Readiness Checklist

Put 'x' in the completed points. Then press Shift + Enter.

- [x]  file open;
- [X ]  file examined;
- [ X]  missing values defined;
- [X ]  missing values are filled;
- [ X]  an explanation of which missing value types were detected;
- [ X]  explanation for the possible causes of missing values;
- [X ]  an explanation of how the blanks are filled;
- [ X]  replaced the real data type with an integer;
- [ X]  an explanation of which method is used to change the data type and why;
- [ X]  duplicates deleted;
- [X ]  an explanation of which method is used to find and remove duplicates;
- [X ]  description of the possible reasons for the appearance of duplicates in the data;
- [X ]  data is categorized;
- [X ]  an explanation of the principle of data categorization;
- [X ]  an answer to the question "Is there a relation between having kids and repaying a loan on time?";
- [X ]  an answer to the question " Is there a relation between marital status and repaying a loan on time?";
- [X ]   an answer to the question " Is there a relation between income level and repaying a loan on time?";
- [X ]  an answer to the question " How do different loan purposes affect on-time repayment of the loan?"
- [ X]  conclusions are present on each stage;
- [ X]  a general conclusion is made.

hi, i have saved the project as i can please try to run all the codes from the begeening to the end.